@font-face {
    font-family: DIN;
    src: url('./resources/DIN\ Next\ LT\ Pro\ Regular.otf');
    font-weight: 400;
}
@font-face {
    font-family: DIN-Bold;
    src: url('./resources/DIN\ Next\ LT\ Pro\ Bold.otf');
}
*{
    box-sizing: border-box;
    font-family: DIN;
    color: white;
}
li::marker{
    color: rgba(0, 0, 0, .0);
}

.contenedor{
    width: 100%;
}
.canvasWidth{
    width: 960px;
}
.fila{
    margin: auto;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 50px;
    align-items: center;
}
.columna{
    vertical-align: middle;
    text-align: center;
}
.instruc{
    background-color:rgba(0, 0, 0, .7);
    text-align: start;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 10px;
}
.titulo{
    color: white;
    font-family: DIN-Bold;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.texto{
    margin-top: 1px;
    margin-bottom: 1.5%;
    color: white;
}
.imagenLogo img{
    width: 160px;
    height: auto;
}
.imagen25 img{
    width: 250px;
}
.compatible img{
    vertical-align: middle;
    border: 0;
}
.filaN{
    margin: auto;
    text-align: center;
    vertical-align: middle;
}
.columna4{
    width: 33.3%;
    float: left;
}
.tituloPrincipal{
    margin-top:2.5%;
    text-align: center;
    font-size: 3rem;
}
